

<!-- <md-sidenav-container>

    <md-sidenav #infopane mode="over" opened="false" class="pane-wrapper" >
        <gymo-sidebar></gymo-sidebar>
    </md-sidenav>
    <div class="test-wrapper">

        <div class="panel-trigger" (click)="infopane.toggle()">
        </div>  
    </div>
    
</md-sidenav-container> -->
            
<div [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path" class="test">
    <router-outlet #o="outlet" class="router-outlet-wrapper"></router-outlet>
</div>

