<md-card>
    <md-card-title>Managment</md-card-title>
    <md-card-subtitle>
        Dashboards Managment
    </md-card-subtitle>
    
    <md-card-content >
      <md-accordion>

            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 1 title
              </md-expansion-panel-header>
              This the expansion 1 content
            </md-expansion-panel>
          
            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 2 title
              </md-expansion-panel-header>
              This the expansion 2 content
            </md-expansion-panel>

            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 2 title
              </md-expansion-panel-header>
              This the expansion 2 content
            </md-expansion-panel>

            <md-expansion-panel>
              <md-expansion-panel-header>
                This is the expansion 2 title
              </md-expansion-panel-header>
              This the expansion 2 content
            </md-expansion-panel>
        </md-accordion>
        
    </md-card-content>
</md-card>