<!-- <div class="background"></div> -->

<div class="container-fluid">
    <div class="row background">
        
        <div class="col-md-8 details-column" [ngClass]="animateOnRouteEnter">
            <div class="row">
                <div class="col-md-1">
                    <img src="../../assets/img/profile-sm.jpg" class="">                            
                </div>
                <div class="col-md-11">
                    <div class="margin-helper">
                        <h2>YONI KANGUN</h2>
                        <h4>Web Developer <md-icon>place</md-icon><span>israel</span></h4>
                        <md-chip-list>
                            <md-chip>Light Activity</md-chip>
                            <md-chip>Medium Activity</md-chip>
                            <md-chip color="primary" selected="true">On Fire</md-chip>
                        </md-chip-list>
                    </div>
                </div>  
            </div>
        </div>
        <!-- <div class="col-md-4 upload-column" [ngClass]="animateOnRouteEnter">
            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
            <button md-raised-button type="button" (click)="uploader.uploadAll()"
                                                   [disabled]="!uploader.getNotUploadedItems().length"
            >
                Upload  Image
            </button>
        </div> -->
    </div>

    <div class="row test">
        <div class="col-md-12" [ngClass]="animateOnRouteEnter">
            <!-- <md-card>
              <md-card-header>Widget number </md-card-header> 
              <md-card-content >

              </md-card-content>
            </md-card> -->

            <md-checkbox>Check me!</md-checkbox>

            <md-checkbox>Check me!</md-checkbox>

            <md-checkbox>Check me!</md-checkbox>
            
          </div> 
    </div>
</div>
  

  